.sticky-top {
  position: sticky;
  top: 0;
}

.navcontainer,
.primary-nav {
  background: transparent;
  z-index: 3;
}

.tcHomepage {
  position: relative;
  .verticalNavigation {
    position: fixed;
    z-index: 4;
    text-transform: uppercase;
    color: #ffffff;
    top: 45%;
    left: 30px;

    .veriticalNavItem {
      cursor: pointer;
      margin-bottom: 10px;
      opacity: .6;
      &:hover {
        opacity:1;
      }
    }
    .navItemText {
      font-family: SourceSansPro-Bold, SourceSansPro-Regular, helvetica, arial, sans-serif;
      display: none;
      padding-left: 10px;
    }
    i {
      font-size: .8rem;
    }
  }
}

[class=" 6433"],
[class=" 10290"],
[class=" 9050"] {
  .tcContainer.tcContainerTop {
    top: -94px;
    bottom: -94px;
    position: relative;
    z-index: 2;
    height: 606px;
  }

  .primary-nav__after,
  .primary-nav__before {
    display: none;
  }

  .primary-nav .travelconnectlogo {
    color: #ffffff;
  }

  .primary-nav nav > ul > li > a {
    color: #ffffff;
  }

  .primary-nav .travelconnectlogo {
    font-size: 1.6rem;
  }

  .primary-nav .hamburger {
    color: $white;
  }
}

.tcContainer {
  position: relative;

  .container {
    position: relative;
    z-index: 5;
  }

  .ctaBtn {
    min-width: 180px;
    text-shadow: none;
    border: none;
    background-image: $teal;
    background-image: -webkit-linear-gradient(to right, $green 0%, $teal 100%, $teal 100%);
    background-image: -o-linear-gradient(to right, $green 0%, $teal 100%, $teal 100%, $teal 100%);
    background-image: -moz-linear-gradient(to right, $green 0%, $teal 100%, $teal 100%, $teal 100%);
    background-image: linear-gradient(to right, $green 0%, $teal 100%, $teal 100%, $teal 100%);
    transition: 0.5s;
    background-size: 200% auto;
    background-position: center;

    &.ctaBtn-purple {
      background-image: $pink;
      background-image: -webkit-linear-gradient(to right, $blue 0%, $pink 100%, $pink 100%);
      background-image: -o-linear-gradient(to right, $blue 0%, $pink 100%, $pink 100%, $pink 100%);
      background-image: -moz-linear-gradient(to right, $blue 0%, $pink 100%, $pink 100%, $pink 100%);
      background-image: linear-gradient(to right, $blue 0%, $pink 100%, $pink 100%, $pink 100%);
    }

    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      background-position: right;
    }
  }

  .ctaBtn-spacer {
    margin: 0 5px;
  }

  .tcJumbotron {
    position: relative;
    background: #040406 url("https://www2.arccorp.com/globalassets/home2/2018/postsite/tcJumbo6.jpg") left bottom no-repeat;
    background-attachment: fixed;
    height: 700px;
    vertical-align: middle;
    background-position-x: 250px;
    background-position-y: 200px;
  }

  .tcJumbotron-container {
    position: relative;
    display: table;
    vertical-align: middle;
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
    z-index: 3;
    text-align: center;
    color: #ffffff;
  }

  .tcJumbotron-content {
    display: table-cell;
    vertical-align: middle;
  }

  .tcJumbotron-title {
    font-size: 4rem;
    color: #ffffff;
  }

  .tcJumbotron-content {
    font-size: 1.2rem;
  }

  .tcSocial {
    position: relative;
    background: #ffffff;
    text-align: center;
    padding: 60px 0;

    a.icon-social {
      display: block;
      padding: 60px 0;
      color: $darkgray;
      font-size: 2rem;

      &:hover {
        color: $teal;
      }
    }

    .hashtag {
      color: $teal;
      font-size: 3.2rem;
      font-family: Oswald-Bold, SourceSansPro-Bold, helvetica, arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: 10px;

      &:hover {
        color: $teal;
        cursor: pointer;
      }
    }

    .social-subtitle {
      border-top: 4px solid $teal;
      color: $darkgray;
      text-transform: uppercase;
      font-family: SourceSansPro-Bold, SourceSansPro-Regular, helvetica, arial, sans-serif;
      font-size: 1.5rem;
      max-width: 200px;
      margin: 0 auto;
      padding-top: 30px;
    }
  }

  .tcQuote {
    background: url('https://www2.arccorp.com/globalassets/home2/2018/postsite/tcJumbo2.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;
    font-size: 1.4rem;
    color: #ffffff;
    font-family: SourceSansPro-Regular,helvetica,arial,sans-serif !important;

    .tcQuote-title {
      text-align: center;
      text-transform: uppercase;
      font-family: Oswald-Bold, SourceSansPro-Bold, helvetica, arial, sans-serif;
      margin-bottom: 60px;
      font-size: 2.6rem;
      .travelconnect-title::after {
        font-size: 1.5rem;
        content: "\e920";
        font-family: 'icomoon' !important;
        margin-left: 10px;
      }

    }
    .tcQuoteItem {
      position: relative;
      min-height: 360px;
    }
    .quote-name{
      position: absolute;
      bottom: 0;
      font-size: 1.2rem;
    }
  }

  .awards {
    background: $teal;
    padding: 60px 0;
    overflow: hidden;

    .awardwinner-container {
      position: relative;
      margin: 0 auto;
      padding: 10px;

      i {
        border-radius: 50%;
        font-family: 'fontawesome';
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
        font-size: 1.6rem;
        background: $white;
        color: $blue;
      }
    }

    .awardwinner-header {
      h3,
      small {
        color: $blue;
      }

      h3 {
        font-size: 1.2rem;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    .awardwinner-content {
      background: #ffffff;
      color: #333333;
      padding: 25px 35px;
      min-height: 455px;
    }
  }

  .highlights {
    position: relative;
    background: url("https://www2.arccorp.com/globalassets/home2/2018/postsite/tcJumbo1.jpg") center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;

    .highlights-body {
      position: relative;
      z-index: 10;
      color: #ffffff;
    }

    .highlights-inner {
      padding: 20px;
      margin-bottom: 20px;
    }
  }

  .sticky-title {
    font-size: 5rem;
    font-family: $primary-font-bold, $secondary-font-bold, helvetica, arial, sans-serif;
  }

  .sticky-subtitle {
    font-size: 3rem;
    font-family: $secondary-font-bold, helvetica, arial, sans-serif;
  }

  .statsContainer {
    position: relative;
    background: #2A2f76 url("https://arctravelconnect.com/globalassets/home2/2018/homepage/highlights-pattern-image.jpg") center center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    padding: 60px 0;

    .stats {
      color: #ffffff;
      font-size: 4rem;
      font-family: $primary-font-bold, $secondary-font-bold, helvetica, arial, sans-serif;
      padding: 10px 0;
    }

    .stats-title {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  .background-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.8;
    z-index: 2;
    content: '';
    max-height: 100%;
    background: #000;
    background: linear-gradient(to bottom, transparent 30%, #000 100%);
    background: -webkit-linear-gradient(top, transparent 30%, #000 100%);

    &.background-greenblue {
      background: $teal;
      background: -webkit-linear-gradient(to bottom right, $blue, $teal);
      background: -o-linear-gradient(to bottom right, $blue, $teal);
      background: -moz-linear-gradient(to bottom right, $blue, $teal);
      background: linear-gradient(to bottom right, $blue, $teal);
      opacity: 0.6;
    }

    &.background-blackblue {
      background: $teal;
      background: -webkit-linear-gradient(to bottom right, #333333, $teal);
      background: -o-linear-gradient(to bottom right, #333333, $teal);
      background: -moz-linear-gradient(to bottom right, #333333, $teal);
      background: linear-gradient(to bottom right, #333333, $teal);
      opacity: 0.6;
    }

    &.background-purpleblue {
      background: $teal;
      background: -webkit-linear-gradient(to bottom right, $pink, $blue);
      background: -o-linear-gradient(to bottom right, $pink, $blue);
      background: -moz-linear-gradient(to bottom right, $pink, $blue);
      background: linear-gradient(to bottom right, $pink, $blue);
      opacity: 0.6;
    }

    &.background-blue {
      background: $blue;
      opacity: 0.8;
    }
  }
}
