$primary-font: Oswald-Regular, SourceSansPro-regular, SourceSansPro-Bold, helvetica, arial, sans-serif;
$primary-font-bold: Oswald-Bold, Oswald-Regular, SourceSansPro-Regular, helvetica, arial, sans-serif;

$secondary-font: SourceSansPro-regular, SourceSansPro-Bold, helvetica, arial, sans-serif;
$secondary-font-bold: SourceSansPro-Bold, SourceSansPro-Regular, helvetica, arial, sans-serif;

$white: #ffffff;
$teal: #16BDC8;
$blue: #2A2F76;
$green: #84B741;
$pink: #EE4495;
$yellow: #F9EE49;
$darkgray: #6d6e71;
